body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #555; /* Серый текст */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.topic-section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9e9e9;
}

details {
    margin-bottom: 5px; /* Spacing between nested details */
}

summary {
    cursor: pointer;
    padding: 15px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    list-style: none; /* Hides the default arrow */
    position: relative;
    border-radius: 5px; /* Rounded corners for summary */
}

.topic-section > details > summary {
    background-color: #e0e0e0; /* Slightly darker for main topic summary */
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}

summary::before {
    content: "►"; /* Custom arrow for collapsed state */
    position: absolute;
    left: 10px;
    transition: transform 0.2s ease-in-out;
    color: #333; /* Color for the arrow */
}

details[open] > summary::before {
    content: "▼"; /* Custom arrow for expanded state */
    transform: rotate(0deg);
}

summary:hover {
    background-color: #e0e0e0;
}
.topic-section > details > summary:hover {
    background-color: #d0d0d0;
}


.topic-content, .answer {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-radius: 0 0 5px 5px; /* Rounded bottom corners for content */
}

.question {
    font-weight: normal;
    background-color: #f8f8f8;
    border-bottom: 1px dotted #eee;
    padding-left: 30px; /* Indent for nested questions */
}

.question:hover {
    background-color: #f0f0f0;
}

.answer p {
    margin-bottom: 10px;
    color: #555; /* Ensure general text is gray */
}

.answer h3, .answer h4 {
    color: #333;
    margin-top: 15px;
    margin-bottom: 5px;
}

.formula {
    display: block;
    background-color: #e6ffe6; /* Светло-зеленый фон для формул */
    color: #008000; /* Зеленый текст для формул */
    padding: 10px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto; /* Позволяет прокручивать длинные формулы */
    border-left: 3px solid #008000;
    border-radius: 3px;
    white-space: pre-wrap; /* Ensures line breaks in formulas are respected */
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}
