body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #555; /* Серый текст */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topic-section {
    margin-bottom: 20px;
}

details {
    background-color: #e9e9e9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    padding: 15px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    list-style: none; /* Hides the default arrow */
    position: relative;
}

summary::before {
    content: "►"; /* Custom arrow for collapsed state */
    position: absolute;
    left: 10px;
    transition: transform 0.2s ease-in-out;
}

details[open] > summary::before {
    content: "▼"; /* Custom arrow for expanded state */
    transform: rotate(0deg);
}

summary:hover {
    background-color: #e0e0e0;
}

.topic-content, .answer {
    padding: 15px;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.question {
    font-weight: normal;
    background-color: #f8f8f8;
    border-bottom: 1px dotted #eee;
}

.question:hover {
    background-color: #f0f0f0;
}

.formula {
    display: block;
    background-color: #e6ffe6; /* Светло-зеленый фон для формул */
    color: #008000; /* Зеленый текст для формул */
    padding: 10px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto; /* Позволяет прокручивать длинные формулы */
    border-left: 3px solid #008000;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
}
